version: "3.9"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3002:3002"   # expose nginx serving vite build

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "4002:4002"
